.achievements {
    .row {
        @extend %border-top-for-footer;
    }
    padding: 30px 0 0 0;
    background-color: $team-slider-bg;
    h3 {
        font-size: $font-size_sm;
        padding-bottom: 30px;
    }
    .carousel {
        padding-bottom: 60px;
    }
    .carousel-indicators [data-bs-target] {
        @extend %carousel-indicators;
    }
    &__item {
        width: 300px;
        height: 110px;
        padding: 25px 0;
        background-color: $white;
        @extend %border-radius-main;
        img {
            height: 100%;
        }
    }
    .small-slide {
        display: none;
    }
}