.publications {
    padding-top: 40px;
    background-color: $team-slider-bg;
    .row {
        @extend %border-top-for-footer;
    }
    h4 {
        color: $blue;
        font-size: $font-size_sm;
    }
    &__items {
        overflow: scroll;
        width: 100%;
        height: 720px;
    }
    &__roll {
        width: calc(100% / 3)
    }
    &__item {
        background-color: $white;
        border-radius: 8px;
        h5 {
            padding: 20px 20px 0;
            color: $blue;
            font-size: $font-size_lg;
            padding-bottom: 10px;
        }
    }
    &__item-top {
        p {
            font-size: $font-size_xsm;
            color: $experience_tabs;
            padding: 0 0 20px;
            margin: 0 20px 16px;
            @extend %border-grey;
        }
    }
    &__img {
        width: 100%;
        img {
            border-radius: 8px;
            width: 100%;
        }
    }
    &__item-bot {
        padding: 0 20px;
        color: $black;
    }
    &__link {
        bottom: 5%;
        left: 50%;
        transform: translatex(-50%);
        z-index: 1;
        @include link (250px, 50px, $font-size_sm);
    }
}

.publications-shadow {
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        width: 100%;
        box-shadow: 0px -13px 96px 108px $team-slider-bg;
    }
}

.publications-page {
    margin-top: 180px;
    &__row {
        padding-bottom: 60px;
    }
    &__items {
        @extend %padding-bottom-main;
    }
    &__link {
        @extend %margin;
        transform: translateX(0);
    }
    .switcher {
        margin-bottom: 40px;
        .option {
            padding: 5px 30px;
        }
    }
}