// Common styles should be placed here
// Atomic classes, some styles for base element etc.
body {
    font-family: $font-main;
}

.container {
    max-width: $breakpoint_xxl;
}

h1 {
    font-size: $font-size-h1;
    line-height: 45px;
}

h2 {
    font-size: $font-size-h2;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $white;
}

ul {
    list-style: none;
}

.header-text-color-black {
    color: $clients__h3;
}

.header-text-color-grey {
    color: $experience_tabs;
}

.header-text-color-blue {
    color: $blue;
}

.header-text-color-white {
    color: $white;
}

.pt-custom {
    padding-top: 140px;
}

.gap-sm {
    gap: 5px;
}

.gap-md {
    gap: 10px;
}

.gap-lg {
    gap: 16px;
}

.gap-xl {
    gap: 20px;
}

.gap-xxl {
    gap: 30px;
}

.gap-xxxl {
    gap: 40px;
}

.bg-wrapper {
    position: relative;
    padding: 60px 0 80px 0;
    margin-bottom: 60px;
    @extend %border-bg-wrapper;
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    &:before {
        content: "";
        height: 10px;
        @include card-shadow($card-shadow__top);
        width: 97%;
        position: absolute;
        bottom: -10px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
    &:after {
        content: "";
        height: 10px;
        @include card-shadow($card-shadow__bot);
        width: 94%;
        position: absolute;
        bottom: -20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
    }
}

@include tablet {
    .bg-wrapper {
        padding: 0 0 20px 0;
        margin-bottom: 40px;
    }
}

.scrolldown {
    z-index: 5;
}

.color-gradient {
    @extend %color-gradient;
}

.arrow {
    padding: 0 0 3px 3px;
}

.header__bg-color {
    background: $header-background;
    height: 100vh;
    min-height: 800px;
}

.header__bg-keybord {
    background: url("./../img/images/keybord.png");
    background-size: cover;
    height: 50vh;
    min-height: 500px;
}

.bg-radius-top {
    border-radius: 12px 12px 0 0;
}

.switcher {
    @extend %border-radius-main;
    background: $experience_tabs_border;
    border: 1px solid $experience_tabs_border;
    width: 260px;
    margin: 0 auto;
    .option {
        @extend %border-radius-main;
        transition: all 0.3s ease;
        span {
            font-size: $font-size_lg;
            color: $clients__h3;
        }
    }
    label {
        cursor: pointer;
    }
    input[type="radio"] {
        display: none;
    }
    #option-1:checked:checked~.option-1,
    #option-2:checked:checked~.option-2 {
        background-color: $white;
    }
}

.modal-content-custom {
    width: 527px;
    @extend %margin;
}

@include desktop {
    .modal-content-custom {
        width: 457px;
    }
}

@include mobile {
    .modal-content-custom {
        width: 375px;
    }
}

@include mobile {
    .modal-content-custom {
        width: 320px;
    }
}

.main-form {
    background-color: $team-slider-bg;
    @extend %border-radius-main;
    width: 527px;
    padding: 20px;
    h2 {
        font-size: $font-size-h2;
        font-weight: bold;
        padding-bottom: 20px;
    }
    label {
        padding-bottom: 20px;
    }
    p {
        padding-bottom: 10px;
    }
    textarea {
        height: 180px;
        resize: none
    }
    input,
    textarea {
        border-radius: 8px;
        outline: none;
        padding: 10px;
    }
    button {
        @extend %margin;
        color: $white;
        @extend %border-radius-main;
        @include link (250px,
        50px,
        $font-size_sm);
    }
}

@include desktop {
    .main-form {
        width: 457px;
    }
}

@include mobile {
    .main-form {
        width: 375px;
        h2 {
            font-size: $font-size_xxl;
        }
    }
}

@include mobile {
    .main-form {
        width: 320px;
    }
}

@include desktop {
    .container,
    .container-xxl,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: $breakpoint_xl;
    }
}

@include laptop {
    .container,
    .container-xl,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: $breakpoint_lg;
        .header__icon {
            justify-content: start !important;
        }
    }
}

@include tablet {
    .container,
    .container-lg,
    .container-md,
    .container-sm {
        max-width: $breakpoint_md;
    }
}

@include mobile {
    .container,
    .container-md,
    .container-sm {
        max-width: $breakpoint_sm;
    }
}

@include mobile_s {
    .container,
    .container-sm {
        max-width: $breakpoint_xsm;
    }
}