// Your mixins should be placed here
// https://sass-scss.ru/documentation/miksini/obyavlenie_miksina/
@mixin flex-media ($flex-value) {
    display: flex;
    justify-content: $flex-value;
}

@mixin flex-media-vertical ($align-value) {
    display: flex;
    align-items: $align-value
}

@mixin flex ($flex-value) {
    @extend %d-flex;
    justify-content: $flex-value;
}

@mixin card-shadow ($background-color-value) {
    background-color: $background-color-value;
    @extend %border-bg-wrapper;
}

@mixin link ($width, $height, $font-size_sm) {
    background-color: $blue;
    width: $width;
    height: $height;
    border-radius: 12px;
    transition: .3s;
    font-size: $font-size_sm;
    &:active,
    &:hover {
        color: $white;
        box-shadow: 0 0 10px 1px $blue;
    }
}

@mixin desktop() {
    @media(max-width: $breakpoint_xxl) {
        @content;
    }
}

@mixin laptop() {
    @media(max-width: $breakpoint_xl) {
        @content;
    }
}

@mixin tablet() {
    @media(max-width: $breakpoint_lg) {
        @content;
    }
}

@mixin mobile() {
    @media(max-width: $breakpoint_md) {
        @content;
    }
}

@mixin mobile_s() {
    @media(max-width: $breakpoint_sm) {
        @content;
    }
}