@include tablet {
    .about-us-bot-info {
        padding-bottom: 40px;
        h2 {
            font-size: $font-size-h2;
        }
        .row {
            flex-direction: column;
            max-width: 100%;
        }
        &__text {
            max-width: 100%;
            font-size: $font-size_lg;
        }
    }
}