.about-us-bot-info {
    padding-bottom: 90px;
    .row {
        @extend %margin;
        max-width: 80%;
    }
    h2 {
        font-size: $font-size-tabs;
    }
    &__text {
        max-width: 55%;
        font-size: $font-size_xl;
    }
}