@include desktop {
    .cases {
        &__item {
            width: 49%;
        }
    }
}

@include laptop {
    .cases {
        padding: 0 12px 30px;
        &__item {
            width: 100%;
        }
    }
}

@include mobile {
    .cases {
        &__item {
            padding: 0 12px;
        }
    }
}