@include desktop {
    .cases {
        &__item {
            width: 49%;
        }
    }
}

@include laptop {
    .cases {
        padding: 0 12px 30px;
        &__item {
            width: 100%;
        }
    }
}

@include mobile {
    .cases {
        &__item-first {
            h3 {
                padding: 20px;
            }
        }
        &__item1 {
            padding: 20px 20px 0 20px;
        }
        &__item3 {
            padding: 20px 20px 0 20px;
        }
    }
}